
baseURL:"https://Muzammil075.github.io/"
languageCode: "en-us"
title: "Muzammil"
theme: hugo-profile
canonifyURLs = true

outputs:
  home:
    - "HTML"
    - "RSS"
    - "JSON"
  page:
    - "HTML"
    - "RSS"

Paginate: 3
enableRobotsTXT: true
# disqusShortname: your-disqus-shortname
# googleAnalytics: G-MEASUREMENT_ID

markup:
  goldmark:
    renderer:
      unsafe: true

Menus:
  main:
    - identifier: blog
      name: Blog
      title: Blog posts
      url: /blogs
      weight: 1
    - identifier: gallery
      name: Gallery
      title: Blog posts
      url: /gallery
      weight: 2
    #Dropdown menu
    # - identifier: dropdown
    #   title: Example dropdown menu
    #   name: Dropdown
    #   weight: 3
    # - identifier: dropdown1
    #   title: example dropdown 1
    #   name: example 1
    #   url: /#
    #   parent: dropdown
    #   weight: 1
    # - identifier: dropdown2
    #   title: example dropdown 2
    #   name: example 2
    #   url: /#
    #   parent: dropdown
    #   weight: 2

params:
  title: "Muzammil Portfolio"
  description: Text about my cool site
  # staticPath: ""  # The path to serve the static files from
  favicon: "/fav.png"

  # Whether to serve bootstrap css and js files from CDN or not. Can be set to true, "css" or "js" to choose between
  # serving both, only the css, or only the js files through the CDN. Any other value will make so that CDN is not used.
  # Note the lack of "" in true, it should be of boolean type.
  useBootstrapCDN: false

  # If you want to load dynamically responsive images from Cloudinary
  # This requires your images to be uploaded + hosted on Cloudinary
  # Uncomment and change YOUR_CLOUD_NAME to the Cloud Name in your Cloudinary console
  # cloudinary_cloud_name: "YOUR_CLOUD_NAME"

  # Whether to add mathjax support on all pages. Alternatively, you can opt-in per page by adding `mathjax: true` in the frontmatter.
  mathjax: false

  # Whether the fade animations on the home page will be enabled
  animate: true

  theme:
    # disableThemeToggle: true
    # defaultTheme: "light" # dark

  font:
    fontSize: 1rem # default: 1rem
    fontWeight: 400 # default: 400
    lineHeight: 1.5 # default: 1.5
    textAlign: left # default: left

  # color preference
  # When using hex codes for colors, quotations must be used along with the # sign
  # color:
  #   textColor: "#343a40"
  #   secondaryTextColor: "#6c757d"
  #   textLinkColor: "#007bff"
  #   backgroundColor: "#eaedf0"
  #   secondaryBackgroundColor: "#64ffda1a"
  #   primaryColor: "#007bff"
  #   secondaryColor: "#f8f9fa"

  #   darkmode:
  #     textColor: "#e4e6eb"
  #     secondaryTextColor: "#b0b3b8"
  #     textLinkColor: "#ffffff"
  #     backgroundColor: "#18191a"
  #     secondaryBackgroundColor: "#212529"
  #     primaryColor: "#ffffff"
  #     secondaryColor: "#212529"

  # If you want to customize the menu, you can change it here
  navbar:
    align: ms-auto # Left: ms-auto | center: mx-auto | right: me-auto | Default: ms-auto
    # brandLogo: "/logo.png" # Logo for the brand | default is the favicon variable
    # showBrandLogo: false # Show brand logo in nav bar | default is true
    brandName: "Hugo Profile" # Brand name for the brand | default is the title variable
    disableSearch: false
    # searchPlaceholder: "Search"
    stickyNavBar:
      enable : true
      showOnScrollUp : true
    enableSeparator: false
    menus:
      disableAbout: false
      disableExperience: false
      disableEducation: false
      disableProjects: false
      disableAchievements: false
      disableContact: false

  # Hero
  hero:
    enable: true
    intro: "Hi, my name is"
    title: "Muzammil."
    subtitle: "I build scalable software solutions"
    content: "A passionate Software Engineer specializing in Java and backend development. I enjoy leveraging modern technologies to design and implement systems that are efficient, reliable, and user-focused. My passion lies in solving complex problems and delivering seamless functionality."
    image: /images/IMG_4144.jpg
    bottomImage:
      enable: true
    # roundImage: true # Make hero image circular | default false
    button:
      enable: true
      name: "Resume"
      url: "https://drive.google.com/file/d/13bP20Zp0e6S4ZQZFRakTvWnkYQhbUMKM/view?usp=drive_link"
      download: true
      newPage: false
    socialLinks:
      fontAwesomeIcons:
        - icon: fab fa-github
          url: https://github.com/Muzammil075
        - icon: fab fa-linkedin
          url: https://www.linkedin.com/in/muzammil-mohammed-7a64401ba/
      #customIcons:
       # - icon: /fav.png
        #  url: "https://example.com"

  # About
  about:
    enable: true
    title: "About me"
    image: "/images/IMG_4144.jpg"
    content: |-
      I am a software developer with a passion for deisgn and development. I have a background in computer science, and I have a strong interest in the intersection of technology .

     
    skills:
      enable: true
      title: "Here are a few technologies I've been working with recently:"
      items:
        - "Languages:		Java, C, C++, Python, HTML, CSS, JavaScript, SQL, Bash"
        - "Frameworks:		Spring, Spring Boot, Spring MVC, REST, Express, Node.Js, JQuery, EJS, Flask"
        - "Tools:			JIRA, Confluence, AWS Docker, Git, PostgreSQL, MySQL, SQLite, JUnit"
        - "Platform:		Linux, Web, Windows, IntelliJ IDEA, Visual Studio Code, Postman"
        - "Cloud Technologies:	AWS, Azure, GCP"
        #- #"Express"

  # Experience
  experience:
    enable: true
    # title: "Custom Name"
    items:
      - job: "Software Engineer"
        company: "Crusade Technologies"
        companyUrl: "https://crusadetechnologies.com/"
        date: "Mar 2024 - present"
        featuredLink:
          enable: false
          #name: "View the project"
          #url: "https://example.com"
        content:  |
          - Improved system uptime and reliability by implementing health-check endpoints and proactive monitoring using Splunk dashboards.
          -  Worked on containerized deployments using Docker, improving application portability and simplifying environment management.
          -  Migrated a monolithic application to a microservices architecture, reducing deployment time by 40% and enabling independent service scaling.
          - Participated in architecture reviews, ensuring compliance with industry best practices and secure coding standards.
           - Utilized Swagger for API documentation, improving developer productivity and collaboration across teams.
            -  Developed custom monitoring dashboards using Splunk to proactively address performance bottlenecks.


      - job: "Software Engineer"
        company: "Wolters Kluwer"
        companyUrl: "https://www.wolterskluwer.com/en-au/solutions/tax-and-legal/my-account"
        date: "May 2023 - Nov 2023"
        featuredLink:
          enable: false
          url: "https://example.com"
        info:
          enable: true
          content: 
        content: |
              -	Contributed in design and development of responsive web applications using React, HTML and CSS, ensuring seamless user experiences across devices and increasing mobile traffic.
              -	Led the front-end migration of legacy code to a React-based architecture, resulting in a 25% reduction in page load times and a more intuitive user experience and effective development.
              -	Developed and deployed a scalable and maintainable RESTful API using Spring Boot and PostgreSQL, enhancing data retrieval speed by 30% and improving overall system performance.
              -	Implemented automated testing frameworks using JUnit and Mockito, increasing code coverage by 40% and significantly reducing the number of post-deployment defects.
              -	Enhanced system scalability by 30% through RESTful API optimization using Spring Boot.
              -	Reduced deployment time by 40% via CI/CD pipeline automation with Jenkins and Docker.
              -	Utilized middleware features of API frameworks to implement cross-cutting concerns such as authentication, authorization, logging, and error handling, enhancing security, reliability, and maintainability of APIs. 
              -	Experience in working with SQL Database like Oracle to manage extremely large data sets. 
              -	Used Splunk for monitoring the logs and setting up dashboards to support Operations team debug miscellaneous requests. 
              -	Integrated APIs with CI/CD pipelines using tools like Jenkins, GitLab CI/CD to automate build, test, and deployment processes, ensuring rapid feedback and continuous delivery of API changes. 


      - job: " System Admin/ Support"
        company: "Western Illinois University"
        companyUrl: "https://www.wiu.edu/university_technology/"
        date: "Jan 2022 - Dec 2022"
        info:
          enable: true
        featuredLink:
          enable: false
          url: "https://www.wiu.edu/university_technology/"
        content: |
           -  Managed Windows 10 and Mac’s deployment project to more than 500 users at the Tec-center and limited knowledge of scripting in PowerShell to deploy packages trough Big Fix.
            - Maintaining Mac patches and updates on Mac OS systems including an upgrade from High Sierra 10.13 to Catalina 10.15.
             - Create and deploy images using Microsoft Deployment Toolkit (MDT).
            - Perform software and hardware firmware upgrades within the Windows and Mac environment and involved in disaster recovery testing

      - job: "Software Engineer"
        company: "Kalvin Techsol Private Limited"
        companyUrl: "https://www.kalvintechsol.com/"
        date: "Aug 2020 - Jul 2021"
        featuredLink:
          enable: false
          url: "https://example.com"
        content: |
          -	Facilitate all Agile ceremonies including Retrospectives, Daily stand-ups, Story Grooming, Demo/Review and Sprint Planning. 
          -	Collaborated closely with UI/UX designers, back-end developers, and stakeholders to gather requirements, iterate on design mockups, and deliver high-quality front-end solutions that meet business objectives. 
          -	Established Database Connectivity using JDBC, Hibernate O/R mapping with Spring ORM for DB2. 
          -	Used Spring Core annotations for Spring Dependency Injection, Spring MVC for Rest API’s and Spring Boot for microservices. 
          -	Involved in deploying systems on Amazon Web Services Infrastructure services EC2, S3. 
          -	Deployed the application on Amazon Web services (AWS) and used it to provide a large computing capacity for scalable solutions. 


     # - job: "Product Designer"
      #  company: "Google"
      #  companyUrl: ""
      #  date: "Feb 2016 - Mar 2017"
       # content: "I am currently working as a software developer at [example org.](https://example.com) in San Francisco, CA. I am currently working on a project that will be used to help people find the best way to get around the city."

  # Education
  education:
    enable: true
    # title: "Custom Name"
    index: false
    items:
      - title: "Master of Science"
        school:
          name: "Western Illinois University"
          url: "https://example.org"
        date: "2021 - 2022"
        GPA: "3.5 out of 4.0"
        content: |-
          Relavant Course Work:
          - Data Structures and Algorithms
          - Java
          - Database
          - Artificial Intelligence
          - Computer Netwroks
          - System Design
          - Software Engineering
          
      - title: "Bachelor of Engineering in Electrical and Electronics "
        school:
          name: "CVR College Of Engineering"
          url: "https://www.researchgate.net/institution/CVR_College_of_Engineering"
        date: "2016 - 2020"
        GPA: "3.5 out of 4.0"
        #content: 
          
        featuredLink:
          enable: false
          name: "My academic record"
          url: "https://example.com"
      

 

  # projects
  projects:
    enable: true
    # title: "Custom Name"
    items:
      - title: Cyber Cafe
        content: Your digital destination for browsing, gaming, and connecting, all under one roof.
        image: /images/projects/8a7e2c7ee1f0c5523351839c7c663fd8.jpg
        featured:
          name: Demo
          link: https://hugo-profile.netlify.app
        badges:
          - "Javascript"
          - "Bootstrap"
          - "HTML"
          - "CSS"
          - "Database"
        links:
          - icon: fab fa-github
            url: https://github.com/Muzammil075/CyberCafe

  #Contact
  contact:
    enable: true
    # title: "Custom Name"
    content: My inbox is always open. Whether you have a question or just want to say hi, I’ll try my best to get back to you!
    btnName: Mail me
    btnLink: mailto:muzammil@Jobemails.net
    # formspree:
    #   enable: true # `contact.email` value will be ignored
    #   formId: abcdefgh # Take it from your form's endpoint, like 'https://formspree.io/f/abcdefgh'
    #   emailCaption: "Enter your email address"
    #   messageCaption: "Enter your message here"
    #   messageRows: 5

  footer:
    recentPosts:
      path: "blogs"
      count: 3
      title: Recent Posts
      enable: false
      disableFeaturedImage: false
    socialNetworks:
      github: https://github.com/Muzammil075
      linkedin: https://www.linkedin.com/in/muzammil-mohammed-7a64401ba/
      

  # List pages like blogs and posts
  listPages:
    disableFeaturedImage: false

  # Single pages like blog and post
  singlePages:
    socialShare: true
    readTime:
      enable: true
      content: "min read"
    scrollprogress:
      enable: true
    tags:
      openInNewTab: true

  # For translations
  terms:
    read: "Read"
    toc: "Table Of Contents"
    copyright: "All rights reserved"
    pageNotFound: "Page not found"
    emailText: "Check out this site"

  datesFormat:
    article: "Jan 2, 2006"
    articleList: "Jan 2, 2006"
    articleRecent: "Jan 2, 2006"

  #customScripts: -| # You can add custom scripts which will be added before </body> tag
  #  <script type="text/javascript"><!-- any script here --></script>
